body{
    padding: 0;
    margin: 0;
    background: radial-gradient( #101010, #050505);
    font-family: Arial;
    color: #ffffff  ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator{
    background: rgba(2, 2, 2, .5);
    padding: 10px;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 10vw);
    grid-template-rows: minmax(15vh, auto) repeat(5, 12vh);
}
.span2{
    grid-column: span 2;
}
.screen{
    background: radial-gradient( #030303, #101010) ;
    border: #1f1f1f 5px solid;
    border-radius: 5px;
    font-size: 40px;
    text-align: end;
    padding: 10px;
    margin: 5px;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}
.previous{
    color: rgb(150, 150, 150);
    font-size: 25px;
}
.current{
    color: rgb(235, 235, 255);
}

button{
    background-color: rgb(7, 7, 7);
    color: rgb(235, 235, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    margin: 2px 2px;
}
button:hover {
    background-color: rgb(10, 10, 10);
    transition: .1s;
}
button:active {
    background-color: rgb(15, 15, 15);
}
.op{
    background-color: rgb(9, 9, 9);
}
.op:hover{
    background-color: rgb(12, 12, 12);
    transition: .1s;
}
.op:active{
    background-color: rgb(15, 15, 15);
}
#equals {
    background-color: #4479ff;
}
#equals:hover{
    background-color: #2d61ee;
    transition: .1s;
}
#equals:active{
    background-color: #2455db;
}